<h2>Ändra Nyhet</h2>

<% form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>    
    <div id="errorExplanation">     
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this user from being saved:</h2>  
      <ul>  
        <% @notice.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
      </ul>  
    </div>                     
  <% end %>  

  <p>
    <%= f.label "Titel" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Text" %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit 'Ändra' %>
  </p>
<% end %>

<%= link_to 'Visa', @notice %> |
<%= link_to 'Nyheter', notices_path %>
