%p
	%b= link_to @notice.title, notice_url(@notice)
	%br
	=h @notice.text
Av:
= @notice.user.name

%br
= link_to 'Visa', @notice
|
-if user_signed_in?
	= link_to 'Ändra', edit_notice_path(@notice)
	|
	= link_to 'Radera', @notice, :confirm => 'Är du säker?', :method => :delete
= link_to 'Nyheter', notices_path