<h2>Jobb</h2>
<%= link_to 'Nytt jobb', new_work_path %>

<table>
  <tr>
    <th>Namn</th>
    <th>Typ</th>
	<th>Att göra</th>
    <th>Utkast</th>
    <th>Klar</th>
    <th>Betalad</th>
    <th>Url</th>
    <th>Skapad av</th>
  </tr>

<% @works.each do |work| %>
	<% todos = 0
	work.todos.each do |t|
		todos += 1 unless t.finished
	end
	%>
	
  <tr>
    <td><%= link_to work.title, work %></td>
    <td><%= h work.wtype %></td>
	<td><%= h todos %></td>
    <td><%= check_box_tag 'draft', work.draft, work.draft, :disabled => true %></td>
    <td><%= check_box_tag 'finished', work.finished, work.finished, :disabled => true %></td>
    <td><%= check_box_tag 'paid', work.paid, work.paid, :disabled => true %></td>
    <td><%= link_to "Länk", work.url %></td>
    <td><%= link_to work.user.name, user_url(work.user) %></td>
  </tr>
<% end %>
</table>

<br />

