<p>
  <b>Titel:</b>
  <%=h @work.title %>
</p>
<p>
  <b>Typ:</b>
  <%=h @work.wtype %>
</p>
<p>
  <b>Beskrivning:</b>
  <%=h @work.description %>
</p>

<p>
  <b>Utkast:</b>
  <%= check_box_tag 'finished', @work.draft, @work.draft, :disabled => true %>
</p>

<p>
  <b>Färdig:</b>
  <%= check_box_tag 'finished', @work.finished, @work.finished, :disabled => true %>
</p>

<p>
  <b>Betald:</b>
  <%= check_box_tag 'finished', @work.paid, @work.paid, :disabled => true %>
</p>

<p>
  <b>Url:</b>
  <%=h @work.url %>
</p>
<p>
<%= link_to 'Ny att göra', "/todos/new/#{@work.id}" %><br />
	Att göra:
</p>
<table id="todos">
<%= render @work.todos %>
</table>
<br />
<p>
Ny att göra:
</p>
<%= render :partial => "todos/new", :object => @todo = Todo.new %>

<%= link_to 'Ändra', edit_work_path(@work) %> |
<%= link_to 'Tabort', @work, :confirm => 'Är du säker?', :method => :delete %> |
<%= link_to 'Jobb', works_path %>
