%p#notice= notice
%p
  %b Login:
  = @user.login
%p
  %b Name:
  = @user.name
%p
  %b Title:
  = @user.title
%p
  %b Description
  = @user.description
%p
  %b Email:
  = @user.email
%p
  %b Phone:
  = @user.phone

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
