<script type="text/javascript">
$(document).ready(function() {
	oTable = $('#contacts').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"bAutoWidth": true
	});
} );
</script>
<h1>Listing contacts</h1>

<table id="contacts">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Street</th>
			<th>Zip</th>
			<th>City</th>
			<th>Phone</th>
			<th>Mobile</th>
			<th>Text</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>

	<% @contacts.each do |contact| %>
		<tr>
			<td><%= contact.firstname %></td>
			<td><%= contact.lastname %></td>
			<td><%= contact.street %></td>
			<td><%= contact.zip %></td>
			<td><%= contact.city %></td>
			<td><%= contact.phone %></td>
			<td><%= contact.mobile %></td>
			<td><%= contact.text %></td>
			<td><%= link_to 'Show', contact %></td>
			<td><%= link_to 'Edit', edit_contact_path(contact) %></td>
			<td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</tbody>

</table>

<br/>

<%= link_to 'New Contact', new_contact_path %>