:javascript
	$(document).ready(function() {
		oTable = $('#contacts').dataTable({
			"bJQueryUI": true,
			"iDisplayLength": 25,
			"oLanguage": {
				"sUrl": "/javascripts/dataTables.swedish.txt"
			},
			"sPaginationType": "full_numbers",
		});
		$('td.editable', oTable.fnGetNodes()).editable(
			function(value, settings) {
				//myName = $(this).attr('name');
				data={}
				data[$(this).attr('name')]=value;
				data['authenticity_token']=#{form_authenticity_token.inspect};
				$.ajax({
					type: 'PUT',
					url: '/contacts/' + $(this).attr('rel') + '/',
					data: data
				});
				return(value);
			},
			{
			"callback": function( sValue, y ) {
				var aPos = oTable.fnGetPosition( this );
				oTable.fnUpdate( sValue, aPos[0], aPos[1] );
			},
			loadurl:'/contacts/get_attr/1/firstname/',

			/*"submitdata": function ( value, settings ) {
				return {
					"row_id": this.parentNode.getAttribute('id'),
					"column": oTable.fnGetPosition( this )[2]
				};
			},*/
			"height": "14px"
		} );
		$(".trunk").svTruncate({maxTextLen: 25});
	} );
%h1 Kontakter

%table.display#contacts
	%thead
		%tr
			%th.dth Förnamn
			%th.dth Efternamn
			%th.dth Adress
			%th.dth Postnr
			%th.dth Ort
			%th.dth Tel
			%th.dth Mobil
			%th.dth Text
			%th.dth(style='width:50px')
	%tbody

		-@contacts.each do |contact|
			%tr.eo
				%td.editable{:name =>'contact[firstname]', :rel => contact.id, :myattr => 'firstname'}= contact.firstname
				%td.editable{:name =>'contact[lastname]', :rel => contact.id, :myattr => 'lastname'}= contact.lastname
				%td.editable{:name =>'contact[street]', :rel => contact.id, :myattr => 'street'}= contact.street
				%td.editable{:name =>'contact[zip]', :rel => contact.id, :myattr => 'zip'}= contact.zip
				%td.editable{:name =>'contact[city]', :rel => contact.id, :myattr => 'city'}= contact.city
				%td.editable{:name =>'contact[phone]', :rel => contact.id, :myattr => 'phone'}= contact.phone
				%td.editable{:name =>'contact[mobile]', :rel => contact.id, :myattr => 'mobile'}= contact.mobile
				%td.editable.trunk{:name =>'contact[text]', :rel => contact.id, :myattr => 'text'}= contact.text
				%td
					= link_to 'S', contact
					= link_to 'E', edit_contact_path(contact), :class => 'dialog-link'
					= link_to 'D', contact, :confirm => 'Are you sure?', :method => :delete


%br

= link_to 'Ny kontakt', '#', 'onclick' => 'openDialog($("#dialog-form"),"/contacts/new/","Ny kontakt")'
-#= link_to 'Ny kontakt', new_contact_path, 'onclick' => 'openDialog($("#dialog-form"),"/contacts/new/","Ny kontakt")', :remote => true
%div(style="display:none")
	%div#dialog-form(style='width:600px;')
	%div#dialog-form1(title="Create new user")
		%p.validateTips All form fields are required.
		%form
			%fieldset
				%label(for="name") Name
				%input.text.ui-widget-content.ui-corner-all#name(type="text" name="name")
				%label(for="email") Email
				%input.text.ui-widget-content.ui-corner-all#email(type="text" name="email")
				%label(for="password") Password
				%input.text.ui-widget-content.ui-corner-all#password(type="text" name="password")
