<p>
  <b>Title:</b>
  <%=h @todo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @todo.description %>
</p>

<p>
  <b>Finished:</b>
  <%=h @todo.finished %>
</p>


<%= link_to 'Ändra', edit_todo_path(@todo) %> |
<%= link_to 'Jobb', work_path(@todo.work) %> |
<%= link_to 'Tabort', @todo, :confirm => 'Är du säker?', :method => :delete %>