!!!
%html
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'utf-8'}
		%meta{'name' => 'keywords', :content => 'hemsida, hemsidor, hemsida till företag, köpa hemsida, webbdesign, webbyrå, sökmotoroptimering,  professionell hemsida, domän, uppdateringsverktyg, webdesign, webhotell'}
		%meta{:name => 'description', :content => 'Skaffa en professionell hemsida till ditt företag!'}
		%title title
		= stylesheet_link_tag 'smoothness/jquery-ui-1.8.10.custom'
		= stylesheet_link_tag 'datatable_jui'
		= stylesheet_link_tag 'formtastic'
		= stylesheet_link_tag 'formtastic_changes'
		= stylesheet_link_tag 'stylish'
		= stylesheet_link_tag 'sass'



		/[if IE 6]
			= stylesheet_link_tag 'ie'
		= javascript_include_tag :all, :cache => true
	%body
		%table#tstt
			%tr#tstt
				%td#tsttd &nbsp;
				%td#tst
					%table#page
						%tr#topbar
							%td#topbartd{:colspan => 3}
								-if current_user
									%div#usercontrols
										Kontrollpanel
										%ul#usernav
											%li= link_to "Jobb", works_url, :class => "navlink"
											%li= link_to "CRM", contacts_url, :class => "navlink"
											%li= link_to "Nyheter", notices_url , :class => "navlink"
											%li= link_to "Medarbetare", users_url
											%li= link_to "Profil", user_url(current_user)
											%li= link_to "Logga ut", destroy_user_session_url
								%span#forcewidth
									=link_to image_tag("/images/logo_ie6.gif", :class => "navlink", :id => 'logo'), "/index"
								%div#nav
									%ul.lavaLamp
										%li= link_to "hem", pages_url, :class => "navlink"
										%li= link_to "vad vi gör",pages_product_url, :class => "navlink"
										%li= link_to "vad vi gjort",pages_showcase_url, :class => "navlink"
										%li= link_to "kontakt",pages_contact_url, :class => "navlink"
						%tr
							%td.sidemargin &nbsp;
							%td#content
								%div#contentcontainer
									%div#subcontent
										-if flash
											%p= flash[:notice]
										= yield
						%tr
							%td.sidemargin &nbsp;
							%td#footer &copy; SE Webbdesign 2010
							%td.sidemargin
								%div#bgbottom &nbsp;
				%td#tsttd
